html, body {
  font-family: sans-serif;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: rgba(0,0,0, 0.8); 
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 2em;
  text-align: center;
}

.menu ul {
  display: flex;
  flex-direction: row;
  font-size: 2ch;
  background-color: #ffffff;
  padding: 2ch;
  justify-content: space-evenly;
}

.menu a {
  text-decoration: none;
}

.menu span {
  display: block;
}

.img-icon {
  width: 5ch;
  height: 5ch;
}

.site-title {
  color: #000000;
  padding: 0em;
  margin: 0em;
  text-align: center;
  font-size: 3em;
}

.site-subtitle {
  color: #000000;
  text-align: center;
  font-style: italic;
}

.bg-image {
  height: 100%;
  width: 100%;
  background-image: url('https://images7.alphacoders.com/316/thumb-1920-316742.jpg');
}

.bg-master-race { 
  padding: 2ch;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 5s ease infinite;
  -z-animation: rainbow 5s ease infinite;
  -o-animation: rainbow 5s ease infinite;
  animation: rainbow 5s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}